.line {
    position: absolute;
    width: 810px;
    top: 290px;
    left: -100px;
    height: 10px;
    background: #FFF;
    border-radius: 25px;
    opacity: 0.8;
    display: block;
}

.left_cross {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right_cross {
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

.horizontal {
    width: 600px;
    left: 5px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.horizontal_line_one { top: 50px; }
.horizontal_line_two { top: 170px; }
.horizontal_line_three { top: 290px; }
.horizontal_line_four { top: 410px; }
.horizontal_line_five { top: 530px; }

.vertical {
    width: 600px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.vertical_line_one { left: -235px; }
.vertical_line_two { left: -115px; }
.vertical_line_three { left: 5px; }
.vertical_line_four { left: 125px; }
.vertical_line_five { left: 245px; }


@media screen and (max-width: 520px) {
    .line {
        width: 400px;
        height: 5px;
        top: 145px;
        left: -42px;
    }

    .horizontal {
        width: 300px;
        left: 8px;
    }

    .horizontal_line_one { top: 25px; }
    .horizontal_line_two { top: 85px; }
    .horizontal_line_three { top: 145px; }
    .horizontal_line_four { top: 205px; }
    .horizontal_line_five { top: 265px; }

    .vertical {
        width: 300px;
    }

    .vertical_line_one { left: -112px; }
    .vertical_line_two { left: -53px; }
    .vertical_line_three { left: 7px; }
    .vertical_line_four { left: 67px; }
    .vertical_line_five { left: 128px; }
}