* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    margin: 0;
}

h1 {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    font-size: 40px;
    padding: 30px;
}

.blue { background: #4183C4; }
.green { background: #6CC644; }
.red { background: #BD2C00; }
.orange { background: #F93; }
.purple { background: #6E5494; }

.container {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.bingo {
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.cell {
    width: 158px;
    height: 158px;
    float: left;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
}

.cell .circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 8px solid #fff;
    border-radius: 100px;
    top: 1px;
    left: 1px;
    box-shadow: inset 0 0 1px 35px rgba(255, 255, 255, 0.5);
    display: none;
}

.cell.selected .circle {
    display: block;
}

@media screen and (max-width: 600px) {
    h1 {
        width: 600px;
        font-size: 30px;
        padding: 20px;
    }

    .bingo {
        width: 600px;
        height: 600px;
    }

    .cell {
        width: 118px;
        height: 118px;
        line-height: 120px;
        font-size: 24px;
        border-radius: 6px;
    }

    .cell .circle {
        width: 110px;
        height: 110px;
        border: 3px solid #fff;
        border-radius: 100px;
        box-shadow: inset 0 0 1px 30px rgba(255, 255, 255, 0.5);
    }
}